# Root-level ignores
node_modules/
.DS_Store

# Ignore client-side dependencies and build
/client/node_modules/
/client/dist/
/client/.vite/

# Ignore server-side dependencies and build
/server/node_modules/
/server/dist/
/server/build/
/server/.env

# Log files
npm-debug.log*

# IDE/editor configs
.idea/
